{% extends "content/layout.html" %}
{% load static %}


{% block body %}
<section class="container">
    <div class="section_heading">Connect With Me Through...</div>
    <div class="social-left">
        <div class="row">
            <div class="col-lg-12 col-sm-12 info clickable" onclick="redirect_linkedin()">
                <i class="fa-brands fa-linkedin fa-4x socials"></i>
                <div class="title"><span class="desc">LinkedIn</span></div>
                 <p>Amaan Javed</p>
            </div>
        </div>
    </div>
    <div class="social-right">
        <div class="row">
            <div class="col-lg-12 col-sm-12 info clickable"  onclick="redirect_github()">
                <i class="fa-brands fa-github fa-4x socials"></i>
                <div class="title"><span class="desc">GitHub</span></div>
                 <p>amaanjaved1</p>
            </div>
        </div>
    </div>
    <div class="social-left">
        <div class="row">
            <div class="col-lg-12 col-sm-12 info not-clickable">
                <i class="fa-solid fa-envelope fa-4x socials"></i>
                <div class="title"><span class="desc">Email</span></div>
                 <p>amaanjaved2004@gmail.com</p>
            </div>
        </div>
    </div>
    
</section>
{% endblock %}