{% extends "content/layout.html" %}
{% load static %}

{% block body %}
<section class="showcase">
  <video src="{% static 'content/background.mp4' %}" muted loop autoplay></video>
  <div class="overlay"></div>
  <div class="text">
    <h2 class="name"><</h2>
    <h2 class="name">Amaan Javed </h2> 
    <p class="name-index-desc">Aspiring Software Engineer</p>
    <p class="about-me" style="margin-top:55px">I am a first year student at Queen's University studying Computer Science. I have a strong interest and passion for developing of any sort! More specifically, I enjoy web developement, game developement and I am interested in AI/machine learning!</p>
    <h2 class="name">/></h2>
  </div>
</section>
{% endblock %}