{% extends "content/layout.html" %}
{% load static %}


{% block body %}
<div class="section_heading">My Projects</div>
<nav class="menu">
    <a class="display-select" id="all" onclick="show_all()">All</a>
    <a class="display-select" id="web" onclick="show_web()"> <i class="fa-solid fa-laptop-code fa-1x" style="color:red;"></i>   Web Programming</a>
    <a class="display-select" id="python" onclick="show_python()"><i class="fa-brands fa-python" style="color:red;"></i>   Python</a>
</nav>
<hr>
<div class="type_heading"></div>
    <div class="projects">
        <div class="social-lefts web proj">
            <div class="project_title">
                <i class="fa-solid fa-laptop-code fa-1x"></i>
                ONE
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col project-image">Image</div>
                    <div class="col project-description">
                        <div class="description-heading">Description</div>
                        <div class="description-content">Content</div>
                        <div class="description-heading">Technologies</div>
                        <div class="description-content">Content</div>
                        <button type="button" class="btn btn-light btn-sm btn-floating view-github" style="margin:5px;">
                            View Project
                            <i class="fa-brands fa-github socials fa-md"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-rights web proj">
            <div class="project_title">
                <i class="fa-solid fa-laptop-code fa-1x"></i>
                ONE
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col project-image">Image</div>
                    <div class="col project-description">
                        <div class="description-heading">Description</div>
                        <div class="description-content">Content</div>
                        <div class="description-heading">Technologies</div>
                        <div class="description-content">Content</div>
                        <button type="button" class="btn btn-light btn-sm btn-floating view-github" style="margin:5px;">
                            View Project
                            <i class="fa-brands fa-github socials fa-md"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-lefts python proj">
            <div class="project_title">
                <i class="fa-brands fa-python"></i>
                ONE
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col project-image">Image</div>
                    <div class="col project-description">
                        <div class="description-heading">Description</div>
                        <div class="description-content">Content</div>
                        <div class="description-heading">Technologies</div>
                        <div class="description-content">Content</div>
                        <button type="button" class="btn btn-light btn-sm btn-floating view-github" style="margin:5px; ">
                            View Project
                            <i class="fa-brands fa-github socials fa-md"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-lefts web proj">
            <div class="project_title">
                <i class="fa-solid fa-laptop-code fa-1x"></i>
                ONE
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col project-image">Image</div>
                    <div class="col project-description">
                        <div class="description-heading">Description</div>
                        <div class="description-content">Content</div>
                        <div class="description-heading">Technologies</div>
                        <div class="description-content">Content</div>
                        <button type="button" class="btn btn-light btn-sm btn-floating view-github" style="margin:5px;">
                            View Project
                            <i class="fa-brands fa-github socials fa-md"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-lefts python proj">
            <div class="project_title">
                <i class="fa-brands fa-python"></i>
                ONE
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col project-image">Image</div>
                    <div class="col project-description">
                        <div class="description-heading">Description</div>
                        <div class="description-content">Content</div>
                        <div class="description-heading">Technologies</div>
                        <div class="description-content">Content</div>
                        <button type="button" class="btn btn-light btn-sm btn-floating view-github" style="margin:5px;">
                            View Project
                            <i class="fa-brands fa-github socials fa-md"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-lefts web proj">
            <div class="project_title">
                <i class="fa-solid fa-laptop-code fa-1x"></i>
                ONE
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col project-image">Image</div>
                    <div class="col project-description">
                        <div class="description-heading">Description</div>
                        <div class="description-content">Content</div>
                        <div class="description-heading">Technologies</div>
                        <div class="description-content">Content</div>
                        <button type="button" class="btn btn-light btn-sm btn-floating view-github" style="margin:5px;">
                            View Project
                            <i class="fa-brands fa-github socials fa-md"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-lefts web proj">
            <div class="project_title">
                <i class="fa-solid fa-laptop-code fa-1x"></i>
                ONE
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col project-image">Image</div>
                    <div class="col project-description">
                        <div class="description-heading">Description</div>
                        <div class="description-content">Content</div>
                        <div class="description-heading">Technologies</div>
                        <div class="description-content">Content</div>
                        <button type="button" class="btn btn-light btn-sm btn-floating view-github" style="margin:5px;">
                            View Project
                            <i class="fa-brands fa-github socials fa-md"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-lefts python proj">
            <div class="project_title">
                <i class="fa-brands fa-python"></i>
                ONE
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col project-image">Image</div>
                    <div class="col project-description">
                        <div class="description-heading">Description</div>
                        <div class="description-content">Content</div>
                        <div class="description-heading">Technologies</div>
                        <div class="description-content">Content</div>
                        <button type="button" class="btn btn-light btn-sm btn-floating view-github" style="margin:5px;">
                            View Project
                            <i class="fa-brands fa-github socials fa-md"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div> 
    </div>
{% endblock %}
