{% extends "content/layout.html" %}
{% load static %}


{% block body %}
<div class="section_heading">My Projects</div>
<nav class="menu">
    <a class="display-select" id="all" onclick="show_all()">All</a>
    <a class="display-select" id="web" onclick="show_web()"> <i class="fa-solid fa-laptop-code fa-1x" style="color:#1c6ca1;"></i>   Web Programming</a>
    <a class="display-select" id="python" onclick="show_python()"><i class="fa-brands fa-python" style="color:#1c6ca1;"></i>   Python</a>
</nav>
<hr>
<div class="type_heading"></div>
    <div class="projects">
        <div class="social-lefts web proj">
            <div class="project_title">
                <i class="fa-solid fa-laptop-code fa-1x"></i>
                stockme.io
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col project-description">
                        <div class="description-heading">Description</div>
                        <div class="description-content">Stock trading platform simulator using real time NASDAQ exchange prices</div>
                        <div class="description-heading">Built Using:</div>
                        <div class="description-content">Flask, HTML/CSS, IEX Cloud API, SQL, Python</div>
                        <a href="https://github.com/amaanjaved1/stockme.io"><button class="btn btn-light btn-sm btn-floating view-github" style="margin:5px;">
                            View Project
                            <i class="fa-brands fa-github socials fa-md"></i>
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-rights web proj">
            <div class="project_title">
                <i class="fa-solid fa-laptop-code fa-1x"></i>
                Commerce
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col project-description">
                        <div class="description-heading">Description</div>
                        <div class="description-content">Ecommerce website simulator</div>
                        <div class="description-heading">Built Using:</div>
                        <div class="description-content">Django, Python, HTML/CSS, Bootstrap</div>
                        <a href="https://github.com/amaanjaved1/Commerce"><button class="btn btn-light btn-sm btn-floating view-github" style="margin:5px;">
                            View Project
                            <i class="fa-brands fa-github socials fa-md"></i>
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-lefts python proj">
            <div class="project_title">
                <i class="fa-brands fa-python"></i>
                Ludo
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col project-description">
                        <div class="description-heading">Description</div>
                        <div class="description-content">Python adaptation of the board game ludo</div>
                        <div class="description-heading">Built Using:</div>
                        <div class="description-content">Python (Object Oriented Programming)</div>
                        <a href="https://github.com/amaanjaved1/Ludo"><button class="btn btn-light btn-sm btn-floating view-github" style="margin:5px;">
                            View Project
                            <i class="fa-brands fa-github socials fa-md"></i>
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-lefts web proj">
            <div class="project_title">
                <i class="fa-solid fa-laptop-code fa-1x"></i>
                SnapGram
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col project-description">
                        <div class="description-heading">Description</div>
                        <div class="description-content">Online social media platform</div>
                        <div class="description-heading">Built Using:</div>
                        <div class="description-content">Django, SQL, Python, HTML/CSS, Javascript</div>
                        <a href="https://github.com/amaanjaved1/SnapGram"><button class="btn btn-light btn-sm btn-floating view-github" style="margin:5px;">
                            View Project
                            <i class="fa-brands fa-github socials fa-md"></i>
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-lefts python proj">
            <div class="project_title">
                <i class="fa-brands fa-python"></i>
                Monopoly
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col project-description">
                        <div class="description-heading">Description</div>
                        <div class="description-content">Text-based Monopoly game</div>
                        <div class="description-heading">Built Using:</div>
                        <div class="description-content">Python</div>
                        <a href="https://github.com/amaanjaved1/Monopoly"><button class="btn btn-light btn-sm btn-floating view-github" style="margin:5px;">
                            View Project
                            <i class="fa-brands fa-github socials fa-md"></i>
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-lefts web proj">
            <div class="project_title">
                <i class="fa-solid fa-laptop-code fa-1x"></i>
                Wikipedia
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col project-description">
                        <div class="description-heading">Description</div>
                        <div class="description-content">Wikipedia simulator</div>
                        <div class="description-heading">Built Using:</div>
                        <div class="description-content">Django, SQL, Bootstrap, HTML/CSS</div>
                        <a href="https://github.com/amaanjaved1/Wikipedia"><button class="btn btn-light btn-sm btn-floating view-github" style="margin:5px;">
                            View Project
                            <i class="fa-brands fa-github socials fa-md"></i>
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-lefts web proj">
            <div class="project_title">
                <i class="fa-solid fa-laptop-code fa-1x"></i>
                Mail App
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col project-description">
                        <div class="description-heading">Description</div>
                        <div class="description-content">Online email platform</div>
                        <div class="description-heading">Built Using:</div>
                        <div class="description-content">Javascript, Django, HTML/CSS</div>
                        <a href="https://github.com/amaanjaved1/Mail-Simulator"><button class="btn btn-light btn-sm btn-floating view-github" style="margin:5px;">
                            View Project
                            <i class="fa-brands fa-github socials fa-md"></i>
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="social-lefts python proj">
            <div class="project_title">
                <i class="fa-brands fa-python"></i>
                Elevator
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col project-description">
                        <div class="description-heading">Description</div>
                        <div class="description-content">Content</div>
                        <div class="description-heading">Built Using:</div>
                        <div class="description-content">Python (Object Oriented Programming)</div>
                        <a href="https://github.com/amaanjaved1/Elevator-Logic"><button class="btn btn-light btn-sm btn-floating view-github" style="margin:5px;">
                            View Project
                            <i class="fa-brands fa-github socials fa-md"></i>
                        </button>
                        </a>
                    </div>
                </div>
            </div>
        </div> 
    </div>
{% endblock %}
