{% extends "content/layout.html" %}
{% load static %}


{% block body %}
<div class="flex-parent jc-center">
    <button type="button" class="btn btn-danger btn-lg btn-floating" id="resume_download" style="background-color:#1c6ca1;border-color: #1c6ca1;">
        <a href="{% static 'content/Amaan_Javed_resume.pdf'%}" download="Amaan_Javed_resume.pdf" id="resume_pdf" style="color: #FFFFFF; text-decoration: none;">
        <i class="fa-solid fa-file-pdf fa-1x"></i>  Download Resume
        </a>
    </button>
</div>

<div class="container-fluid" style="margin-top: 0px;">
    <div>
      <div class="col">
        <div id="experience" class="container py-5">
            <div class="section_heading">Work Experience</div>
            <div class="main-timeline-4 text-white">
            <div class="timeline-4 left-4">
                <div class="card gradient-custom-4">
                <div class="card-body p-4">
                    <i class="fa-solid fa-shield fa-2x"></i>
                    <h4>COMPSA (Computer Science Student Association) - Junior Frontend Developer</h4>
                    <p class="small text-white-50 mb-4">August 2022 - PRESENT</p>
                    <div class="resume">
                        <ul style="list-style-type:disc">
                            <li>TBD</li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
            <div class="timeline-4 right-4">
                <div class="card gradient-custom">
                <div class="card-body p-4">
                    <i class="fa-solid fa-briefcase fa-2x"></i>
                    <h4>Kumon - Centre Assistant</h4>
                    <p class="small text-white-50 mb-4">August 2021 - Present</p>
                    <div class="resume"> 
                        <ul style="list-style-type:disc">
                            <li>Taught basic math, algebra, trigonometry, calculus and statistics concepts to students.</li>
                            <li>Responded to student’s questions.</li>
                            <li>Evaluated student assignments and provide feedback.</li>
                            <li>Monitored student progress and enter marks into the database system.</li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
            <div class="timeline-4 left-4">
                <div class="card gradient-custom-4">
                <div class="card-body p-4">
                    <i class="fa-solid fa-money-bill-trend-up fa-2x"></i>
                    <h4>Desjardins Investments Inc. - Social Media Marketing Manager</h4>
                    <p class="small text-white-50 mb-4">July 2021 - August 2022</p>
                    <div class="resume">
                        <ul style="list-style-type:disc">
                            <li>Generated 3000+ potential leads using LinkedIn Sales Navigator and Octopus CRM.</li>
                            <li>Created social media content to promote the advisor's business.</li>
                            <li>Organized client events/seminars.</li>
                            <li>Set-up new client accounts in the system and execute trade orders.</li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <div id="education" class="container py-5">
            <div class="section_heading">Education</div>
            <div class="main-timeline-4 text-white">
            <div class="timeline-4 left-4">
                <div class="card gradient-custom">
                <div class="card-body p-4">
                    <i class="fa-solid fa-book-open fa-2x"></i>
                    <h4>Queen's University Bachelor's of Computing Degree</h4>
                    <p class="small text-white-50 mb-4">2022 - Present</p>
                    <div class="resume"> 
                        <ul style="list-style-type:disc">
                            <li>Queen's University Principal's Scholarship</li>
                            <li>Expected Date Of Completion: April 2026</li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
            <div class="bold">
                <h6></h6>
                <h6>January 2022-Present</h6>
                <br>
                <ul style="list-style-type:disc">
                    <li>Expected Date Of Completion: July 2022</li>
                </ul>
            </div>
            <div class="timeline-4 right-4">
                <div class="card gradient-custom-4">
                <div class="card-body p-4">
                    <i class="fa-brands fa-html5 fa-2x"></i>
                    <h4>HarvardX's Computer Science For Web Programming Professional Certificate</h4>
                    <p class="small text-white-50 mb-4">February - August 2022</p>
                    <div class="resume">
                        <ul style="list-style-type:disc">
                            <li>Courses: CS50 and CS50's Web Programming With Python and Javascript</li>
                        </ul>
                    </div>
                    <a href="https://www.edx.org/professional-certificate/harvardx-computer-science-for-web-programming"><h6 class="badge bg-light text-black mb-0">View Certificate</h6></a>
                </div>
                </div>
            </div>
            <div class="timeline-4 left-4">
                <div class="card gradient-custom">
                <div class="card-body p-4">
                    <i class="fa-solid fa-school fa-2x"></i>
                    <h4>Mentor College - High School Division</h4>
                    <p class="small text-white-50 mb-4">2018 - 2022</p>
                    <div class="resume"> 
                        <ul style="list-style-type:disc">
                            <li>Achievement: Ontario Scholar with 95% GPA in Grade 12 Courses and 90%+ Average Throughout Grade 9-12</li>
                            <li>Certificate: Ontario Secondary School Diploma (OSSD)</li>
                            <li>Courses Completed: Grade 12 Computer Science, Grade 11 Computer Science, Calculus and Vectors, Advanced Functions, Data Management, Grade 12 Physics, Grade 12 Chemistry</li>
                        </ul>
                    </div>
                </div>
                </div>
            </div>
            <div class="timeline-4 right-4">
                <div class="card gradient-custom-4">
                <div class="card-body p-4">
                    <i class="fa-solid fa-calculator fa-2x"></i>
                    <h4>Kumon Math and Reading Program</h4>
                    <p class="small text-white-50 mb-4">2011 - 2021</p>
                </div>
                </div>
            </div>
        </div>
      </div>
    <div id="hackathons" class="container py-5">
        <div class="section_heading">Hackathons</div>
        <div class="main-timeline-4 text-white">
        <div class="timeline-4 left-4">
        <div class="card gradient-custom-4">
        <div class="card-body p-4">
            <i class="fa-solid fa-laptop-code fa-2x"></i>
            <h4>The Queen's School of Computing Programming Challenge - Mentor</h4>
            <p class="small text-white-50 mb-4">July 2022 - August 2022</p>
            <div class="resume">
                <ul style="list-style-type:disc">
                    <li>Provided feedback and technical support to the participants.</li>
                </ul>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>


<div class="section_heading">Technical Skills</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-6 skillcard">
            <div class="inter-icon">
                 <div class="desc-inter">
                    <h6><i class="fa-brands fa-react fa-1x"></i>   React.js</h6>
                   </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 skillcard">
            <div class="inter-icon">
                 <div class="desc-inter">
                    <h6><i class="fa-brands fa-reacteurope fa-1x"></i>   Next.js</h6>
                   </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6 skillcard">
            <div class="inter-icon">
                 <div class="desc-inter">
                    <h6><i class="fa-brands fa-python fa-1x"></i>   Python</h6>
                   </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-sm-6 skillcard">
            <div class="inter-icon">
                 <div class="desc-inter">
                    <h6><i class="fa-brands fa-dev fa-1x"></i>   Django</h6>
                   </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-sm-6 skillcard">
            <div class="inter-icon">
                     <div class="desc-inter">
                        <h6><i class="fa-solid fa-pepper-hot fa-1x"></i>   Flask</h6>
                    </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-sm-6 skillcard">
            <div class="inter-icon">
                 <div class="desc-inter">
                    <h6><i class="fa-brands fa-css3-alt fa-1x"></i>   HTML/CSS</h6>
                </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-sm-6 skillcard">
            <div class="inter-icon">
                 <div class="desc-inter">
                    <h6><i class="fa-brands fa-js fa-1x"></i>   Javascript</h6>
                   </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-sm-6 skillcard">
            <div class="inter-icon">
                 <div class="desc-inter">
                    <h6><i class="fa-brands fa-css3 fa-1x"></i>   Tailwind.css</h6>
                   </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-sm-6 skillcard">
            <div class="inter-icon">
                 <div class="desc-inter">
                    <h6><i class="fa-solid fa-database fa-1x"></i>   MySQL</h6>
                </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-sm-6 skillcard">
            <div class="inter-icon">
                 <div class="desc-inter">
                    <h6><i class="fa-brands fa-git-alt fa-1x"></i>   GIT</h6>
                   </div>
            </div>
        </div>
    </div>
</div>
 
<div class="section_heading">Extracurriculars</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-6 skillcard">
            <div class="inter-icon">
                 <div class="desc-inter">
                    <h6>Vice President - High School Computer Science Club</h6>
                   </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-sm-6 skillcard">
            <div class="inter-icon">
                 <div class="desc-inter">
                    <h6>High School Tennis Team (Grades 9-12)</h6>
                   </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-sm-6 skillcard">
            <div class="inter-icon">
                     <div class="desc-inter">
                    <h6>Engineering Club</h6>
                   </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-sm-6 skillcard">
            <div class="inter-icon">
                 <div class="desc-inter">
                    <h6>Student Council Presidential Candidate</h6>
                   </div>
            </div>
        </div>
<div class="section_heading">Soft Skills</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-6 skillcard">
            <div class="inter-icon">
                 <div class="desc-inter">
                    <h6>Communication</h6>
                   </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-sm-6 skillcard">
            <div class="inter-icon">
                 <div class="desc-inter">
                    <h6>Analytical Ability</h6>
                   </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-sm-6 skillcard">
            <div class="inter-icon">
                     <div class="desc-inter">
                    <h6>Project Management</h6>
                   </div>
            </div>
        </div>
    
        <div class="col-lg-3 col-sm-6 skillcard">
            <div class="inter-icon">
                 <div class="desc-inter">
                    <h6>Leadership</h6>
                   </div>
            </div>
        </div>
    
    
{% endblock %}