:root {
    --gray: #28242c;
    --blue: #1c6ca1;
}

* { 
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}

.nav-link {
    font-size: 18px;
    margin-right: 25px;
}
.section_heading {
    text-align: center;
    font-size: 50px;
    margin: 15px;
    font-weight: bold;
    color: var(--gray);
}

.main-timeline-4 {
    position: relative;
    }
    
    .main-timeline-4::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: #1c6ca1;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    }
    
    .timeline-4 {
    position: relative;
    background-color: inherit;
    width: 50%;
    }
    
    .timeline-4::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -11px;
    background-color: #bbb;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
    }
    
    .left-4 {
    padding: 0px 40px 20px 0px;
    left: 0;
    }
    
    .right-4 {
    padding: 0px 0px 20px 40px;
    left: 50%;
    }
    
  
    
    .right-4::after {
    left: -14px;
    }
    
   
    @media screen and (max-width: 600px) {

    
    .main-timeline-4::after {
    left: 31px;
    }
    
    .timeline-4 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    .timeline-4::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
    
    .left-4::after,
    .right-4::after {
    left: 18px;
    }
    
    .left-4::before {
    right: auto;
    }
    
    .right-4 {
    left: 0%;
    }
    }
    @media screen and (max-width: 366) {
        .section_heading {
            text-align:left;
            font-size: 30px;
        }
        #logo {
            height: '45';
        }
        .type-heading {
            text-align: left;
            font-size: 10px;
        }
        
    }
    .gradient-custom {
    background: #8e154f;
    
    background: -webkit-linear-gradient(to right, rgb(83, 0, 173), var(--red));
    
    background: linear-gradient(to right, rgb(13,66,102), var(--gray));
    opacity: 85%;
    -moz-transition: opacity 1s; /* Firefox */
    -webkit-transition: opacity 1s; /* Safari and Chrome */
    -o-transition: opacity 2s; /* Opera */
    transition: opacity 1s;
    }
    
    .gradient-custom-4 {
    background: #f093fb;
    
    background: -webkit-linear-gradient(to left, rgba(240, 147, 251, 1), rgba(245, 87, 108, 1));
    
    background: linear-gradient(to left, rgb(13,66,102), var(--gray));
    opacity: 85%;
    -moz-transition: opacity 2s; /* Firefox */
    -webkit-transition: opacity 1s; /* Safari and Chrome */
    -o-transition: opacity 1s; /* Opera */
    transition: opacity 1s;
    }

.gradient-custom:hover {opacity: 1}
.gradient-custom-4:hover {opacity: 1}



.resume ul li {
    list-style-type: circle;
    font-size: 15px;
}

.flex-parent {
    display: flex;
    margin-top: 40px;
}
  
.jc-center {
justify-content: center;
}

.card-body h4 {
    font-weight: bold;
}

.card-body p {
    font-weight: bold;
    font-style: italic;
}

.badge {
    color: var(--gray);
}

.card-body i {
    margin-bottom: 10px;
}

#tech_skills{
 background-color: #8e154f;   
}

.desc-inter h6 {
    text-align: center;
    border-style:double;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    background-color: var(--gray);
    margin-right: 0px;
}

.desc-inter i {
    color: var(--blue);
}

.socials {
    color: var(--blue);
    margin-top: 10px;
    margin-bottom: 10px;
}

.social-left {
    background: #8e154f;
    
    background: -webkit-linear-gradient(to right, rgb(83, 0, 173), rgb(199, 18, 133));
    
    background: linear-gradient(to right, rgb(13,66,102), rgb(0, 0, 0));

    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    opacity:65%;
    -moz-transition: opacity 2s; /* Firefox */
    -webkit-transition: opacity 2s; /* Safari and Chrome */
    -o-transition: opacity 2s; /* Opera */
    transition: opacity 2s;
}

.social-right {
    background: #8e154f;
    
    background: -webkit-linear-gradient(to right, rgb(83, 0, 173), rgb(199, 18, 133));
    
    background: linear-gradient(to left, rgb(13,66,102), rgb(0, 0, 0));
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    opacity: 65%;
    -moz-transition: opacity 2s; /* Firefox */
    -webkit-transition: opacity 2s; /* Safari and Chrome */
    -o-transition: opacity 2s; /* Opera */
    transition: opacity 2s;
}
.social-left:hover {opacity: 1}
.social-right:hover {opacity: 1}


.desc {
    color: white;
    font-weight: lighter;
    margin-bottom: 25px;
}

.title {
    margin-bottom: 15px;
}

.clickable {
    cursor:pointer;
}

.clickable, .not-clickable p {
    color: white;
    font-weight: bold;
}

.skillcard{
    transition: transform 250ms;
}
.skillcard:hover{
    transform: translateY(-10px);
}


.project {
    margin-top: 15px;
    background-color: dodgerblue;   
    color: white;
    padding: 1rem;
    height: 4rem;
}
.projects {
    max-width: 1800px;
    height: 500px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
  }

@media (min-width: 600px) {
.projects { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 900px) {
.projects { grid-template-columns: repeat(3, 1fr); }
}

.social-lefts {
    color: white;
    background: #8e154f;
    
    background: -webkit-linear-gradient(to right, rgb(83, 0, 173), rgb(199, 18, 133));
    
    background: linear-gradient(to right, rgb(13,66,102), rgb(0, 0, 0));

    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;

    border-style: double;
    border-color: var(--gray);
    border-width: 5px;
    border-radius: 15px; 
   
}

.social-rights {
    color: white;
    background: #8e154f;
    
    background: -webkit-linear-gradient(to right, rgb(83, 0, 173), rgb(199, 18, 133));
    
    background: linear-gradient(to left, rgb(13,66,102), rgb(0, 0, 0));
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    border-color: var(--gray);
    border-width: 5px;
    border-radius: 15px; 
}

.type_heading {
    text-align: center;
    font-size: 35px;
    margin: 15px;
    font-weight: bold;
    color: var(--gray);
}

.description-heading {
    text-decoration: underline;
    font-weight: bold;
    margin: 5px;
    color:white;
}

.description-content {
    font-size: 15px;
    margin-bottom: 20px;
    color:white;
}

.project_title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
}

.project-image {
    background-color: var(--gray);
    margin-left: 10px;
    margin-right: 10px;
    height: 320px;
    padding: 10px;
    margin-bottom: 10px;
    border-style: double;
    border-radius: 10px;
}

.project-description {
    margin-right: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

  .menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .menu a {
    position: relative;
    width: 33.333%;
    display: table-cell;
    text-align: center;
    color: var(--gray);
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
    cursor: pointer;
  }



